@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


.ud-hero .container-fluid {
    position: relative; /* Needed for absolute positioning of the overlay */
    overflow: hidden;   /* Prevents any overflow from the video */
}

.ud-hero video {
    width: 100%;        /* Ensures video covers the full width */
    height: auto;       /* Maintains aspect ratio */
}

.ud-hero .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px; /* Ensure padding for spacing */
}

.ud-hero .overlay img {
    max-width: 90%; /* Responsive image width */
    height: auto;
    margin-bottom: 20px; /* Space between image and text */
}

.ud-hero h1 {
    margin: 0 10px; /* Space around text */
    line-height: 1.4; /* Better line spacing */
    word-wrap: break-word; /* Break long words */
}

@media (max-width: 768px) {
    .ud-hero h1 {
        font-size: 4vw; /* Responsive font size based on viewport width */
        max-font-size: 1.25rem; /* Limit maximum font size */
    }

    .ud-hero .overlay img {
        max-width: 80%; /* Smaller image on mobile */
    }
}



.overlay h1{

    font-family: "Bebas Neue";
    font-size: 64px;
    margin: 30px;

}

.header h1{

    font-family: "Bebas Neue";
    font-size: 64px;
    margin-top: 30px;

}

.client-container{
    width: 100%;
    overflow-x: auto;
}